@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

section {
  @apply transition ease-in duration-200;
}

.closed {
  @apply h-0 lg:h-auto overflow-hidden lg:overflow-visible;
}

.opened {
  @apply h-device overflow-visible;
}

.sectionHidden {
  @apply hidden opacity-0 translate-y-32;
}

.imgScaleUp {
  @apply scale-105;
}

.imgScaleDown {
  @apply scale-95;
}

body {
  @apply bg-slate-50;
}

.container {
  @apply max-w-full;
}

header {
  @apply flex flex-col lg:flex-row justify-between lg:items-center px-5 lg:px-16 pb-5 lg:pb-16;
}

.navLogo {
  @apply h-16;
}

.hamburger {
  @apply lg:hidden h-9;
}

.navbar {
  @apply flex flex-col lg:flex-row gap-7 font-semibold items-center transition-all ease-in-out duration-500;
}

.navList {
  @apply text-center lg:text-left mt-16 lg:mt-0 flex flex-col lg:flex-row gap-16 lg:gap-7;
}

.navText {
  @apply text-xl lg:text-base text-slate-500  hover:text-black transition ease-in-out duration-200;
}

.navBtn {
  @apply text-orange-500 border-orange-500 border rounded-lg px-4 py-1 hover:text-white hover:bg-orange-500 transition ease-in-out duration-200 hidden lg:block;
}

/*SECTION 1*/
.section1 {
  @apply pl-5 lg:pl-16 flex flex-col lg:flex-row;
}

.textSection {
  @apply lg:w-1/2;
}

.imgSection {
  @apply lg:w-1/2;
}

.section1Heading {
  @apply text-3xl lg:text-5xl mb-10 font-space font-bold;
}

.sectionText {
  @apply text-slate-500;
}

.truck {
  @apply h-110 w-140 m-0;
}

.btn {
  @apply font-semibold bg-btnColor px-4 py-2 rounded-lg hover:scale-110 transition ease-in-out duration-200;
}

.stripGrp {
  @apply flex flex-row justify-center gap-12 py-2 border-y border-slate-400 text-slate-400 overflow-hidden;
}

.strip {
  @apply flex flex-row gap-12;
}

/*SECTION 2*/
.section2 {
  @apply mt-14 lg:mt-20 px-5 lg:px-16 lg:py-10;
}

.sectionHeading {
  @apply text-2xl lg:text-3xl font-space font-semibold mb-10;
}

.sectionGrp {
  @apply flex flex-col lg:flex-row  gap-5;
}

.section2Img {
  @apply lg:h-105 mx-auto  lg:mr-10;
}

.textGrp {
  @apply mt-10 mb-20 mx-auto lg:mx-0 w-10/12;
}

.textIcon {
  @apply mb-5;
}

.text {
  @apply text-sm text-slate-700 font-semibold;
}

/*SECTION 3*/
.section3 {
  @apply lg:mt-20 px-5 lg:px-16 lg:py-10;
}

.logistics {
  @apply mb-10 lg:mb-0;
}

.logisticImg {
  @apply mb-5 h-72 w-full lg:w-auto lg:mx-0 flex-none transition ease-in-out duration-500 cursor-pointer;
}

.logisticHeading {
  @apply font-semibold mb-3 text-slate-800;
}

.logisticText {
  @apply text-slate-500;
}

/*SECTION 4*/
.section4 {
  @apply mt-5 mb-10 px-5 lg:px-16 lg:py-10;
}

.reviewCard {
  @apply w-full h-80 lg:w-1/3 mx-auto border border-slate-300 rounded-xl px-7 py-9 bg-white flex flex-col justify-between;
}

.rating {
  @apply mb-7 mx-auto;
}

.reviewText {
  @apply font-semibold text-sm mb-10;
}

.profileGrp {
  @apply flex justify-center gap-5 items-center;
}

.avatar {
  @apply h-7;
}

.avatarName {
  @apply text-sm font-semibold text-slate-500;
}

/*SECTION 5*/
.section5 {
  @apply flex flex-col lg:flex-row justify-between mt-20 px-0 py-10 lg:px-16 lg:py-16 border-t border-slate-300 bg-white;
}

.textSection5 {
  @apply lg:w-4/10 px-5 lg:px-0;
}

label {
  @apply font-semibold mb-1;
}

input {
  @apply p-2 border border-slate-400 rounded-xl outline-none;
}

textarea {
  @apply h-32 p-2 border border-slate-400 rounded-xl outline-none;
}

.inputGrp {
  @apply flex flex-col mb-5;
}

.section5Img {
  @apply w-auto h-120 lg:ml-auto ml-28 lg:mt-10 mt-16;
}

.imgFooterGrp {
  @apply flex flex-row gap-4;
}

.bottomImg {
  @apply h-8;
}

footer {
  @apply bg-black px-5 lg:px-16 py-5 lg:py-10 text-white;
}
